<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
</head>
<body>
<div class="wrapper-btn">
    <a th:href="@{/hospitals}">
        <button class="btn btn-primary" type="button">back</button>
    </a>
</div>
<div class="container mt-3">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Department</th>
            <th>Doctor</th>
            <th>Patient</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.id}"></td>
            <td th:text="${appointment.date}"></td>
            <td th:text="${appointment.department.name}"></td>
            <td th:text="${appointment.doctor.firsName}"></td>
            <td th:text="${appointment.patient.firstName}"></td>
            <td>
                <a th:href="@{/appointments/{hospitalId}(hospitalId=${appointment.hospital.})/{doctorId}/edit(doctorId=${doctor.getId()})}">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/appointments/new/{id}(id=${hospitalId})}" href="#">Add new Appointment</a>
    </li>
</div>

</body>
</html>
