<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


</head>
<body class="body">

<a th:href="@{/hospitals/profile/{hospitalId}(hospitalId=${hospitalId})}">
    <button  >back</button>
</a>

<!--<div class="form-container">-->
<!--    <form name="my-form" th:action="@{/appointments/save/{hospitalId}(hospitalId=${hospitalId})}"-->
<!--          th:method="POST" th:object="${newAppointment}">-->

<!--        <div>-->
<!--            <label for="birthday">Recording date:</label>-->
<!--            <input type="date" th:field="*{date}" id="birthday" name="birthday"-->
<!--                   min="2023-02-20" max="2025-12-31" required>-->
<!--        </div>-->

<!--        <div class="form-box">-->
<!--            <label for="domain">Patient</label>-->
<!--            <select th:field="*{patientId}" id="domain" name="domain" required>-->
<!--                <option value=""> >>select an patients<<< </option>-->
<!--                <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.firstName}" class="form-control form-control-lg">Patients-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-box">-->
<!--            <label for="doctor">Doctor</label>-->
<!--            <select th:field="*{doctorId}" id="doctor" name="domain" required >-->
<!--                <option value=""> >>>>select an Doctors<<<< </option>-->
<!--                <option th:each="doctor : ${doctors}" th:value="${doctor.getId()}"-->
<!--                        th:text="${doctor.getLastName()+' '+doctor.getFirsName()()}">Doctor-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="form-box">-->
<!--            <label for="dep">Department</label>-->
<!--            <select th:field="*{departmentId}" id="dep" name="domain" required>-->
<!--                <option value=""> >>>>select an Departments<<<< </option>-->
<!--                <option th:each="dep : ${departments}" th:value="${dep.getId()}" th:text="${dep.getName()}">dep</option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="form-box">-->
<!--            <button class="btn btn-primary-dan"  id="btnSend">Send</button>-->
<!--        </div>-->

<!--    </form>-->
<!--</div>-->

<form th:action="@{/appointments/save/{hospitalId}(hospitalId=${hospitalId})}" th:object="${newAppointment}" method="POST">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="date">date</label>
        <input type="date" th:field="*{date}" id="date">
    </div>

    <div>
        <select th:field="*{departmentId}"  required>
            <option value="">Select a department</option>
            <option th:each="department : ${departments}" th:value="${department.id}"
                    th:text="${department.name}"></option>
        </select>

        <select th:field="*{patientId}"  required>
            <option value="">--Select a patient--</option>
            <option th:each="patient : ${patients}" th:value="${patient.id}"
                    th:text="${patient.lastName}"></option>
        </select>
        <select th:field="*{doctorId}"  required>
            <option value="">--Select a doctor--</option>
            <option th:each="doctor : ${doctors}" th:value="${doctor.id}"
                    th:text="${doctor.lastName}"></option>
        </select>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </div>
</form>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</html>