<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
</head>
<body>
<div class="wrapper-btn">
    <a th:href="@{/hospitals}">
        <button class="btn btn-primary" type="button">back</button>
    </a>
</div>
<div class="container mt-3">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Hospital</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.firsName}"></td>
            <td th:text="${doctor.lastName}"></td>
            <td th:text="${doctor.position}"></td>
            <td th:text="${doctor.hospital.name}"></td>
            <td>
                <a th:href="@{/doctors/{hospitalId}(hospitalId=${doctor.hospital.id})/{doctorId}/edit(doctorId=${doctor.getId()})}">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </a>
            </td>
<!--            <td>-->
<!--                <form th:method="POST"-->
<!--                      th:action="@{/doctors/{hospitalId}/{doctorId}/assignDepartment(hospitalId=${hospitalId},doctorId=${doctor.getId()})}">-->
<!--                    <select name="instructor" class="form-select form-select-sm" aria-label=".form-select-sm example"-->
<!--                            th:object="${department}" th:field="*{id}">-->
<!--                        <option th:each="ddd : ${departments}"-->
<!--                                th:value="${ddd.id}"-->
<!--                                th:text="${ddd.name}"></option>-->
<!--                    </select>-->
<!--                    <input type="submit" value="submit"/>-->
<!--                </form>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/doctors/new/{id}(id=${hospitalId})}" href="#">Add new Doctor</a>
    </li>
</div>

</body>
</html>

