<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Doctors</title>
</head>
<body>
<div class="wrapper-btn">
  <a th:href="@{/url}">
    <button class="btn btn-primary" type="button">back</button>
  </a>
<!--  <a th:href="@{/companies/savePage}">-->
<!--    <button class="btn btn-primary" type="button">Add</button>-->
<!--  </a>-->
</div>
<div class="container mt-3">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Position</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
      <td th:text="${doctor.id}"></td>
      <td th:text="${doctor.firsName}"></td>
      <td th:text="${doctor.lastName}"></td>
      <td th:text="${doctor.position}"></td>
      <td th:text="${doctor.appointments}"></td>
      <td th:text="${doctor.departments}"></td>

      <!--            <td>-->
      <!--                <a th:href="@{/companies(id=${company.id})}">-->
      <!--                    <button class="btn btn-primary" type="submit">edit</button>-->
      <!--                </a>-->
      <!--                <a th:href="@{/url/{id}(id=${peremenyi.id})}">-->
      <!--                    <button class="btn btn-danger" type="submit">delete</button>-->
      <!--                </a>-->
      <!--            </td>-->
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>